* {
    box-sizing: border-box;
    margin: 0;
  }
  
  :root {
    --primary: #03011c;
    --secondery: #1c1847;
    --accent: #0cb8c2;
    --text: #fff;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background: var(--primary);
    font-family: Poppins, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: var(--text);
  }
  
  img {
    width: 100%;
  }

  /* utility classes */
.container {
  padding: 4rem 2rem;
  color: var(--text);
}

.highlighted {
  color: var(--accent);
}

.hidden {
  display: none;
}

.btn {
  background-color: var(--accent);
  color: var(--text);
  padding: 0.5rem 3rem;
  border-radius: 5rem;
  display: inline-block;
  margin-top: 2rem;
  border: 2px solid var(--accent);
}

.btn:hover {
  background-color: transparent;
  color: var(--accent);
}

/* Header style */
.nav {
    background-color: var(--secondery);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    position: fixed;
    width: 100%;
  }
  
  .logo {
    font-weight: 700;
    font-size: 1.5rem;
  }
  
  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50px;
    background-color: var(--secondery);
    width: 100%;
    left: -200%;
    padding: 1rem;
    transition: left 0.5s ease;
  }
  
  .nav-active {
    left: 0;
  }
  
  .nav-item {
    font-size: 0.8rem;
    opacity: 0.7;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: capitalize;
    position: relative;
  }
  
  .nav-item::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(56, 56, 56);
    margin-top: 0.5rem;
  }
  
  .nav-item:hover {
    opacity: 1;
  }
  
  .nav-item-active::after {
    background-color: var(--accent);
    opacity: 1;
  }
  
  .toggler .line {
    width: 30px;
    height: 2px;
    display: block;
    background-color: var(--text);
    margin: 5px;
  }

  /* Hero styles */
.hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: var(--text);
  }
  
  .hero-img {
    padding-top: 2rem;
  }
  
  .hero-info {
    text-align: center;
    padding-top: 3rem;
  }
  
  .title {
    font-size: 2.5rem;
  }
  
  .hero-description {
    opacity: 0.7;
  }

  /* About style */
.about {
    color: var(--text);
  }
  
  .about-info {
    padding-top: 2rem;
  }
  

  .description {
    opacity: 0.7;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  
  .secondery-title {
    display: inline-block;
    margin-bottom: 1.5rem;
  }
  
  .secondery-title::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 0.5rem;
    background-color: var(--accent);
  }

  /* Services styles */
.services-item {
    background: var(--secondery);
    border-radius: 10px;
    text-align: center;
    padding: 2rem 1rem;
    margin-bottom: 1.5rem;
  }
  
  .services-item i {
    font-size: 4rem;
    color: var(--accent);
    margin-bottom: 2rem;
  }

  /* Projects styles */
.projects-header {
    padding-bottom: 2rem;
  }
  
  
  
  .contact-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .contact-info-item {
    margin: 0 20px; /* Adjust the margin as needed */
    justify-content: center;
    align-items: center;
    text-align: center;
    size: 200px;
  }
  
  .contact-info-data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input,
  textarea {
    background: var(--secondery);
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 0.8rem 1rem;
  }
  
  .footer {
    color: var(--text);
    text-align: center;
    padding: 2rem 0;
  }

  
    
  .grid-item .image-container .modal-content {
    margin: auto;
    max-width: 200px;
    max-height: 200px;
  }

  /* CSS for uniform size and hover effect on images */
.uniform-image {
    width: 400px;
    /*Setthedesiredwidth*/height: 200px;
    /*Setthedesiredheight*/transition: transform 2s;
     /* Add smooth transition for the hover effect */  :;
    -webkit-transition: transform 0.7s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
}
  
  .uniform-image:hover {
    transform: scale(2);
    /*Enlargetheimageby20%onhover*/:;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}
.hero-info {
  text-align: center;
}
.socials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Adjust the margin as needed */
}

.socials-info-item {
  margin: 0 10px; /* Adjust the margin as needed */
  display: flex;
  align-items: center;
  text-align: center;
}

.socials-info-icon {
  font-size: 24px;
}

#last{ 
  width: 100%; 
  height: auto; 
  justify-content: center; 
  } 
  
.full{ 
width: 80%; 
  display: inline-block; 
  margin:2%; 
  margin-left: 10%; 
  text-align: center; 
  background-color: black; 
  color: white; 
  border:15px solid var(--secondery); 
  border-radius: 5px; 
  margin-bottom: 8%; 
  margin-top: 8%; 
  } 
  .full h3{ 
  font-size: 2rem; 
  display:block; 
  margin: 2%; 
  margin-bottom: 0; 
  } 
  .lt{ 
  padding: 2%; 
  margin: 2%; 
  } 
  .rt{ 
  padding: 2%; 
  margin: 2%; 
  } 
  .lt textarea{ 
  width: 94%; 
  margin-left: 2.8%; 
  } 
  button{ 
  margin: 2%; 
  } 
  .btn-primary{ 
  background-color: black; 
  border: 2px solid white; 
  border-radius: 5%; 
  } 
  .list-item{ 
  margin-bottom: 2%; 
  list-style-type: none; 
  } 
  .list-item span{ 
  margin-left: 10px; 
  font-size: 1.4rem; 
  } 
  .list-item a{ 
  color: white; 
  display: inline-block; 
  } 
  .list-item a:hover{ 
  text-decoration: underline; 
  } 
  .form-control{ 
  background-color: black; 
  } 
       
  @media screen and (min-width: 770px){ 
  .full{ 
      width: 70%; 
      margin-left: 15%; 
  } 
  .lt textarea{ 
  width: 95%; 
  margin-left: 2.4%; 
  } 
  } 
       
  @media screen and (min-width: 1100px){ 
  .full{ 
      width: 65%; 
      margin-left: 17%; 
      margin-top: 5%; 
  } 
  .lt{ 
      width: 55%; 
      display: inline-block; 
      float: left; 
      margin-right: 0; 
  } 
  .rt{ 
      width: 35%; 
      display: inline-block; 
      margin-left: 0; 
  } 
  .list-item{ 
  margin-bottom: 10%; 
  } 
  .contact-list{ 
      margin-top: 22%; 
      padding-right: 8%; 
  } 
  .fa-envelope, .gmail{ 
      display: inline-block; 
      width: auto; 
  } 
  }
  


  /* Desktop Design */
@media screen and (min-width: 700px) {
    .container {
      padding: 4rem 6rem;
    }
  
    .description {
      font-size: 1rem;
    }
  
    /* grid for info */
    .grid {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
    }
  
    .grid-item {
      width: 30%;
    }
  

    .grid-item.projects-item.all.applications {
        width: 200px; /* Set the desired width */
        height: 200px; /* Set the desired height */
        /* Add any other styling you need */
      }
      

    /* nav */
    .nav {
      padding-left: 6rem;
      padding-right: 6rem;
      justify-content: space-between;
      align-items: center;
    }
  
    .toggler {
      display: none;
    }
  
    .nav-links {
      position: static;
      flex-direction: row;
      padding: 0;
      width: auto;
    }
  
    .nav-item {
      margin: 0 0.5rem;
    }
  
    .nav-item::after {
      position: absolute;
      top: 30px;
      margin: 0;
      background: none;
    }
  
    .nav-item-active {
      opacity: 1;
    }
  
    .nav-item-active::after {
      background: var(--accent);
    }
  
    /* hero */
    .hero {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .hero-info {
      text-align: left;
    }
  
    .title {
      font-size: 5rem;
    }
  
    /* About */
    .about {
      display: flex;
      justify-content: space-between;
    }
  
    .about-img {
      width: 40%;
    }
  
    .about-info {
      width: 55%;
    }
  
    /* contact */
    .contact {
      display: flex;
      justify-content: space-between;
    }
  
    .contact-form {
      width: 55%;
    }
  
    .submit-btn {
      font-size: 1.5rem;
    }
  }

  @font-face {
    font-family: 'Conv_Besom';
    src: url('../font/Besom.eot');
    src: local('☺'), url('../font/Besom.woff') format('woff'), url('../font/Besom.ttf') format('truetype'), url('../font/Besom.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  


  
  .faq div.container div.row div.col-sm-6 h1 {
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    font-size: 60px;
    margin: 0;
    padding-bottom: 40px;
    width:100%;
  }
  
  .faq div.container div.row div.col-sm-6 ul {
    list-style-type: none;
    padding: 0;
    width:100%;
  }
  
  .faq div.container div.row div.col-sm-6 ul li {
    font-weight: bold;
    font-size: 14px;
    padding: 10px 10px;
    padding-top: 20px;
    border-bottom: 1px solid #bfbfbf;
    position: relative;
    width:100%;
  }
  
  .faq div.container div.row div.col-sm-6 ul li:last-child {
    border-bottom: none;
  }
  
  .faq div.container div.row div.col-sm-6 ul li a {
    text-decoration: none;
    color: #4a4a4a;
    padding-right: auto;
    -webkit-transition: color 0.25s linear;
    -o-transition: color 0.25s linear;
    transition: color 0.25s linear;
  }
  
  .faq div.container div.row div.col-sm-6 ul li a:hover {
    color: black;
  }
  
  .faq div.container div.row div.col-sm-6 ul li a:hover::after {
    color: black;
  }
  
  .faq div.container div.row div.col-sm-6 ul li a::after {
    content: "\f067";
    font-family: 'FontAwesome';
    color: #1c1847;
    position: absolute;
    top: 20px;
    right: 0;
    -webkit-transition: color 0.25s linear;
    -o-transition: color 0.25s linear;
    transition: color 0.25s linear;
  }
  
  .faq div.container div.row div.col-sm-6 ul li a.open {
    color: black;
  }
  
  .faq div.container div.row div.col-sm-6 ul li a.open::after {
    content: "\f068";
    font-family: 'FontAwesome';
    ;
    color: black;
    position: absolute;
    top: 20px;
    right: 0;
  }
  
  .faq div.container div.row div.col-sm-6 ul li p {
    font-weight: normal;
    display: none;
  }
  
  .faq div.container div.row div.col-sm-6 img {
    display: block;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    .uniform-image {
      width: 100%; /* Allow images to fill the container width */
      height: auto; /* Maintain aspect ratio */
    }
    
   -transform: scale(1.5);
}
  }
  